// Colours

$primary-color: rgb(0, 0, 0);
$secondary-color: white;
$third-color: #33b7d6;

// overlay
$overlay: rgba(0, 0, 0, 0.766);

//Hover
$active-color: #f374f1;

// box-shadow
$box-shadow: 2px 2px 3px rgba(36, 36, 36, 0.708);

//border
$border: 2px solid #33b7d6;
$border-radius: 12px;

//border-containers
$border-containers: 1px solid rgb(229, 229, 229);
