@import "../../styles/variables";

.Reservation {
  width: 100%;
  height: 100vh;
  background-color: $overlay;
  position: fixed;
  top: 0;
  left: 0;

  .content {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $overlay;
    position: absolute;
    top: 150px;
    padding: 20px 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .formTitle {
    font-size: 2.5em;
    color: $active-color;
  }

  .label {
    color: $active-color;
  }

  .input {
    width: 200px;
    padding: 10px 8px;
    border: 0;
    border-radius: 4px;
    outline: none;
  }

  .submit {
    padding: 10px 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: $third-color;
    border: 0;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }

  .closeBtn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .Reservation .content {
    width: 600px;
    height: 500px;
    border-radius: 12px;
    position: absolute;
    top: 140px;
    left: calc(50vw - 300px);

    .closeBtn {
      display: inline;
      color: $secondary-color;
      font-size: 25px;
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

      &:hover {
        transform: rotate(360deg);
        transition: all 1s;
      }
    }
  }
}
